-
	function isDisabled(item) {
		return (isOnePointNine && onePointNineDisabled.includes(item)) || (serverDisabled.includes(item)) || (isDownloadDisabled && downloadDisabled.includes(item));
	}

mixin mainButton(id, link, dir, name)
	td
		a(tabindex="1", href=isDisabled(id) ? null : dir)
			img.menuButton(class=isDisabled(id) ? "menuDisabled" : "menu-" + id, src="/assets/categories/" + link + ".png", title=name)

doctype html
html(lang="en")
	head
		title Geometry Dash Browser!
		meta(charset="UTF-8")
		link(href="/assets/css/browser.css?v=1", type="text/css", rel="stylesheet")
		if isGDPS
			link(rel="icon", href="/assets/" + (isOnePointNine ? "blue": "silver") + "coin.png")
		else
			link(rel="icon", href="/assets/coin.png")
		meta(id="meta-title", property="og:title", content="Geometry Dash Browser!")
		meta(id="meta-desc", property="og:description", content="Browse all of Geometry Dash's online features, right from this handy little website! Levels, profiles, leaderboards, comments, and more!")
		if isGDPS
			meta(id="meta-image", name="og:image", content="/assets/gdps/" + serverID + "_icon.png", itemprop="image")
		else
			meta(id="meta-image", name="og:image", content="/assets/coin.png", itemprop="image")
		meta(name="twitter:card", content="summary")
	body(class=isGDPS ? "levelBG purpleBG" : "levelBG")
		#everything
			#credits.popup
				each creditItem, creditIndex in credits.credits
					.subCredits(id=`credits${creditIndex + 1}`, style={ display: "none" })
						img.gdButton.creditsPrevPage(src="/assets/arrow-left.png" style={ display: (creditIndex == 0 ? "none" : undefined), position: "absolute", top: "45%", right: "75%", width: "4.5%" }, tabindex="0")
						.brownBox.center.supercenter(style={ width: "80vh", height: "43%", "padding-top": "1.5%", "padding-bottom": "3.5%" })
							h1= creditItem.header
							h2.gdButton.biggerShadow(style={ "margin-bottom": "1.5%", "margin-top": "1.5%" })
								a(href=`/u/${creditItem.ign || creditItem.name}`, title=creditItem.name)= creditItem.name

							.creditsIcon(ign=(creditItem.ign || creditItem.name))

							a(target="_blank", href=creditItem.youtube[0], title="YouTube")
								img.gdButton(src=`/assets/${creditItem.youtube[1]}.png`, style={ width: "11%" })
							a(target="_blank", href=creditItem.twitter[0], title="Twitter")
								img.sideSpace.gdButton(src=`/assets/${creditItem.twitter[1]}.png`, style={ width: "11%" })
							a(target="_blank", href=creditItem.github[0], title="GitHub")
								img.sideSpace.gdButton(src=`/assets/${creditItem.github[1]}.png`, style={ width: "11%" })
							br
						img.gdButton.creditsNextPage(src="/assets/arrow-right.png" style={ position: "absolute", top: "45%", left: "75%", width: "4.5%" }, tabindex="0")

				.subCredits(id=`credits${credits.credits.length + 1}`)
					#specialthanks.brownBox.center.supercenter(style={ width: "80vh", height: "55%", "padding-top": "1.5%", "padding-bottom": "3.5%" })
						h1 Special Thanks!
						br
						each data in credits.specialThanks
							- let username = data.split("/")
							.specialThanks
								h2.gdButton.smaller
									a(href=`/u/${username[1] || username[0]}`, title=username[0])= username[0]
									.creditsIcon.specialThanksIcon(ign=(username[1] || username[0]))

					img.gdButton.creditsPrevPage(src="/assets/arrow-left.png" style={ position: "absolute", top: "45%", right: "75%", width: "4.5%" }, tabindex="0")

				#closeCredits.center.supercenter(style={ "z-index": 10, width: "80vh", height: "43%", "pointer-events": "none" })
					img.closeWindow.gdButton(src="/assets/close.png", style={ position: "absolute", top: "-24%", left: "-7vh", width: "14%", "pointer-events": "all" }, tabindex="0", title="Close")

			.bottomLeftCornerBox.cornerBox
				img.cornerPiece(src="/assets/corner.png")

			.topLeftCornerBox.cornerBox
				img.cornerPiece(src="/assets/corner.png", style={ height: "24vh", transform: "scaleY(-1)" })

			div(style={ position: "absolute", top: "1.7%", right: "2%", width: "10%", "text-align": "right"})
				img#creditsButton.gdButton(src="/assets/credits.png", style={ width: "60%" })

			div(class=isDisabled("achievements") ? "menuDisabled" : "menu-achievements", style={ position: "absolute", top: "5.5%", left: "3%", width: "12%"})
				a(href=isDisabled("achievements") ? null : "/achievements")
					img.gdButton(src="/assets/achievements.png", style={ width: "40%" })

			div(class=isDisabled("messages") ? "menuDisabled" : "menu-messages", style={ position: "absolute", top: "-1.7%", left: "11%", width: "10%", "text-align": "left"})
				a(href=isDisabled("messages") ? null : "/messages")
					img.iconRope(src="/assets/messagerope.png", style={ width: "40%" })

			div(style={ position: "absolute", top: "-1.5%", right: "10%", width: "10%", "text-align": "right" })
				a(href="/iconkit")
					img.iconRope(src="/assets/iconrope.png", style={ width: "40%" })

			if (isDownloadDisabled)
				#dl(style={ position: "absolute", top: "15%", right: "0.5%", "text-align": "center", width: "17%" })
					h1.smaller(style={ "margin-bottom": "1%" }) Note
					p(style={ "font-size": "2.2vh", "margin-top": "1.2%" })
						ca Level downloading
						|
						| has been
						|
						cr blocked
						|
						| by me (for the sake of RobTop).
						|
						cy Level analysis, daily levels, and downloading extra info
						|
						| will
						|
						cg not work
						|
						| until he chooses to unblock downloads. These features still work
						|
						ca
							a.underline(target="_blank", href="https://github.com/GDColon/GDBrowser") locally
						|
						| and on
						|
						ca
							a.underline(href="/gdps") private servers

			#menuButtons.supercenter.center(style={ bottom: "5%" })
				table
					tr.menuButtonList
						+mainButton("saved", "saved", "./search/*?type=saved", "Saved Levels")
						+mainButton("daily", "daily", "./level/daily", "Daily Level")
						+mainButton("weekly", "weekly", "./level/weekly", "Weekly Demon")
						+mainButton("gauntlets", "gauntlets", "./gauntlets", "Gauntlets")
						+mainButton("lists", "lists", "./listsearch", "Lists")
					tr.menuButtonList
						+mainButton("leaderboard", "scores", "./leaderboard", "Scores")
						+mainButton("featured", "featured", "./search/*?type=featured", "Featured")
						+mainButton("hof", "hof", "./search/*?type=hof", "Hall Of Fame")
						+mainButton("mappacks", "packs", "./mappacks", "Map Packs")
						+mainButton("search", "search", "./search", "Search")

				p(style={ "margin-bottom": "2%" })
					| Website created by
					|
					a.menuLink(href="https://x.com/TheRealGDColon", title="Colon") Colon
					|
					| :
					br
					| Pretty much everything other than that belongs to
					|
					a.menuLink(href="http://robtopgames.com", title="RobTop Games") RobTop Games
					| .

				p(style={ "margin-top": "0" })
					a.menuLink(href="https://gdcolon.com/tools", title="GD Tools") GD Tools
					| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					a.menuLink(href="https://gdcolon.com", title="API") More Projects
					| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					a.menuLink(href="https://github.com/GDColon/GDBrowser", title="GitHub") GitHub
					| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					a.menuLink(href="https://store.steampowered.com/app/322170/Geometry_Dash/", title="Buy Geometry Dash!") Buy Geometry Dash!

			div(style={ position: "absolute", bottom: "17%", right: "7%", width: "9%", "pointer-events": "none", "text-align": "right"})
				img(src="/assets/privateservers.png", style={ width: "85%" })

			div(style={ position: "absolute", bottom: "2.5%", right: "1.5%", width: "18%", "text-align": "right" })
				a(href="/gdps", title="GD Private Servers")
					img.gdButton(src="/assets/basement.png", style={ width: "40%" })

			.center(style={ "margin-top": "2%", width: "100%", height: "100%" })
				img(src=isGDPS ? ("/assets/gdps/" + serverID + "_logo.png") : "/assets/gdlogo.png", style={ height: "11.5%" })
				br
				img#browserlogo(src="/assets/browser.png", style={ height: "7%", margin: "0.5% 0% 0% 30%" })

			#noDaily(style={ display: "none" })
				.copied.center.noClick(style={ position: "absolute", top: "29%", left: "50%", transform: "translate(-50%, -50%)", width: "90vh", "background-color": "rgba(0, 0, 0, 0.7)" })
					if (isDownloadDisabled)
						h1.smaller.noSelect
							| [Blocked by RobTop]
					else
						h1.smaller.noSelect
							| No active
							|
							span#noLevel daily
							|
							| level!

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.2/browser/pixi.js")
		script(type="module", src="/iconkit/icon.js")
		script(type="module", src="/vendor/index.js")
		script(type="module", src="/misc/global.js")
		script(type="module", src="/scripts/home.js")
