<div class="inline {{objType}}Div">
    <img style="height: {{height}}vh;" src='/assets/objects/{{objIcon}}.png'><h3 style="padding-top: {{pad}}%">{{objName}}{{#if objName2}}<br>{{objName2}}{{/if}}</h3>
</div>