<div class="inline styleDiv{{#if col}} styleBG{{/if}}" {{#if col}}style='background-color: rgb({{col.r}}, {{col.g}}, {{col.b}})'{{/if}}>
	<img style="height: 1{{#if shiftUp}}1{{else}}2{{/if}}vh;" src='/assets/levelstyle/{{styleName}}.png' {{#if imgTitle}}title="{{imgTitle}}"{{/if}}>
</div>