<div class="searchResult" style="height: 19%; padding-top: 1.2%; margin-right: 20vh;">
	<h1 class="lessspaced blue" style="color: {{serverColor}}">{{serverInfo.name}}</h1>
	<h2 class="lessSpaced smaller inline gdButton"><a href="{{serverInfo.authorLink}}" target="_blank">By {{serverInfo.author}}</a></h2>

	<div class="center" style="position:absolute; height: 10%; width: 12.5%; left: 3%; transform:translateY(-160%)">
		<a href="{{serverInfo.link}}" target="_blank"><img class="gdButton spaced gdpslogo" src="/assets/gdps/{{serverIcon}}_icon.png" style="height: 130%;"></a>
	</div>

	<div class="center" style="position:absolute; right: 7%; transform:translateY(-150%); height: 10%">
		<a href="{{serverLink}}"><img style="margin-bottom: 4.5%" class="valign gdButton" src="/assets/view.png" height="105%"></a>
	</div>
</div>