<button col="{{colorID}}" colType="color{{channel}}" class="blankButton color{{channel}} iconColor" title="Color {{colorID}} ({{colorHex}})" id="col{{channel}}-{{colorID}}">{{!--
	--}}<div style="background-color: rgb({{colRGB.r}}, {{colRGB.g}}, {{colRGB.b}})">{{!--
--}}</button>