<button form="{{form}}" {{#if spoil}}isnew="true" style="display: none" {{/if}}title="{{formTitle}}" class="blankButton {{extraClass}}"{{#if id}} id="{{id}}btn"{{/if}}>{{!--
	--}}<img {{#if id}}id="{{id}}" {{/if}}src="/assets/iconkitbuttons/{{form}}_off.png" style="width: 50px">{{!--
--}}</button>